.main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
    display: flex;
 hr{
  margin-top: -25px;
 }

  &-about {
   
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 20px;
    img {
      width: 240px;
      height: 240px;
    }
    &-title {
      color: #F0F6FC;
      margin-top: 30px;
      h3 {
        padding-bottom: 10px;
        font-size: medium;
      }
      h4 {
        padding-bottom: 30px;
        font-size: small;
      
      }
      button {
        width: 80%;
        height: 36px;
        border: 1px solid rgba(27, 31, 35, 0.2);
        background-color: #616569;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    &-dsc {
      margin-top: 16px;
      font-size: small;
      color: #F0F6FC;
    }
  }
  &-projects {
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;

    &-link {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 40px;
      
      a {
      color: #F0F6FC;
        font-size: 14px;
      }
    }
    .section {
      color: #F0F6FC;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      padding: 0 40px 0 40px;
      align-items: center;
      a {
        font-size: 10px;
        color: #1F6FEB;
      }
      p{
      color: #F0F6FC;

      }
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      color: #616569;
    }
    &-bar {
      margin-top: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      width: 395px;
      height: 100px;
      position: relative;
      border-radius: 5px;
    
      .up {
        display: flex;
        gap: 5px;
        a {
        color: #1F6FEB;
       

        }
        .right {
          svg {
            position: absolute;
            right: 10px;
          }
        }
      }
      .down {
        margin-top: 50px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        span {
          background-color: #563d7c;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 5px;
        
        }
      }
    }
  }
}
